<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langbot</title>
  <h1>Contact</h1>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
  </head>
  <body>
    <p>We are a group of students working towards making learning easy and fun. Our language learning app, Langbot, is committed to providing a seamless user experience, and our contact page is no exception. Designed with simplicity and accessibility in mind, our contact page offers users a convenient way to reach out to our team of dedicated developers and provide valuable feedback or ask questions. Whether you're a student, educator, or language enthusiast, we welcome your inquiries and are eager to hear from you. Feel free to send us a message through our contact form, and our team will promptly respond to your queries. At Langbot, we prioritize user engagement and strive to create an inclusive community where language learners can thrive.</p>
  </body>
  </html>