<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langbot</title>
  <h1>Language Learning App</h1>
  </head>
  <body>
    <nav class="navbar">
      <ul>
          <li><a href="quiz">Quiz</a></li>
          <li><a href="pictionary">Pictionary</a></li>
          <li><a href="oral">Oral Interaction</a></li>
          <li><a href="contact">Contact</a></li>
      </ul>
  </nav>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
    
    <h2> About</h2>
    <p> Langbot is a digital language learning environment that offers immersive
        experiences, real-life connect, and customizable learning paths to empower
        learners of all backgrounds and proficiency levels.</p>
    <p> Our features include inteactive conversations and mini games optimised for learning.</p>
    <div class="container">
        <div class="tts">
            <textarea id="textToSpeak" placeholder="Type text to speak..."></textarea>
            <button onclick="speakText()">Speak</button>
        </div>
    </div>
  </body>
</html>